ddodfdev/PartialArmTemplates/ArmTemplate_3_12_2019_23_30_51.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "ddodfdev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/P_Ingest_MelbParkingData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Transform and Load Melbourne Parking Data",
						"description": "",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "DownloadSensorData",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "DownloadBayData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"notebookPath": "/notebooks/01_transform",
							"baseParameters": {
								"infilefolder": {
									"value": "@variables('infilefolder')",
									"type": "Expression"
								},
								"loadid": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Ls_adb_01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set infilefolder",
						"type": "SetVariable",
						"typeProperties": {
							"variableName": "infilefolder",
							"value": {
								"value": "@concat('datalake/data/lnd/', utcnow('yyyy_MM_dd_hh_mm_ss'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "DownloadSensorData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set infilefolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010"
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Ds_REST_MelbParkingData",
								"type": "DatasetReference",
								"parameters": {
									"relativeurl": "dtpv-d4pf.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_AdlsGen2_MelbParkingData",
								"type": "DatasetReference",
								"parameters": {
									"infilefolder": {
										"value": "@variables('infilefolder')",
										"type": "Expression"
									},
									"infilename": "MelbParkingSensorData.json"
								}
							}
						]
					},
					{
						"name": "DownloadBayData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set infilefolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010"
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Ds_REST_MelbParkingData",
								"type": "DatasetReference",
								"parameters": {
									"relativeurl": "wuf8-susg.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_AdlsGen2_MelbParkingData",
								"type": "DatasetReference",
								"parameters": {
									"infilefolder": {
										"value": "@variables('infilefolder')",
										"type": "Expression"
									},
									"infilename": "MelbParkingBayData.json"
								}
							}
						]
					}
				],
				"variables": {
					"infilefolder": {
						"type": "String",
						"defaultValue": "lnd"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_REST_MelbParkingData')]",
				"[concat(variables('factoryId'), '/datasets/Ds_AdlsGen2_MelbParkingData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_AdlsGen2_MelbParkingData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_AdlsGen2_01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"infilefolder": {
						"type": "String"
					},
					"infilename": {
						"type": "String"
					},
					"container": {
						"type": "String",
						"defaultValue": "datalake/data/lnd"
					}
				},
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "arrayOfObjects"
					},
					"fileName": {
						"value": "@dataset().infilename",
						"type": "Expression"
					},
					"folderPath": {
						"value": "@concat(dataset().container, '/', dataset().infilefolder)",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_AdlsGen2_01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_REST_MelbParkingData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_Rest_MelParkSensors",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeurl": {
						"type": "String"
					}
				},
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().relativeurl",
						"type": "Expression"
					},
					"requestMethod": "GET"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_ADLAGen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://ddostordev4uuuxyu5.dfs.core.windows.net/",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "Ls_KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "storageKey"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_AdlsGen2_01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://ddostordev4uuuxyu5.dfs.core.windows.net/",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "Ls_KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "storageKey"
					}
				}
			}
		}
	]
}