ddodfdev/PartialArmTemplates/ArmTemplate_2_8_2019_19_28_43.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "ddodfdev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/P_Ingest_MelbParkingData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Download Melb Parking Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set infilename",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"schemaMapping": {
									"[[':@computed_region_evbi_jbp8']": "[concat('[', ''':@computed_region_evbi_jbp8'']')]",
									"bay_id": "bay_id",
									"lat": "lat",
									"location.type": "location.type",
									"lon": "lon",
									"st_marker_id": "st_marker_id",
									"status": "status"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ds_REST_MelbParkingData",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Ds_Blob_MelbParkingData",
								"type": "DatasetReference",
								"parameters": {
									"infilename": {
										"value": "@variables('infilename')",
										"type": "Expression"
									},
									"infilefolder": {
										"value": "@variables('infilefolder')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Transform and Load Melbourne Parking Data",
						"description": "",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Download Melb Parking Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"notebookPath": "/notebooks/01_transform",
							"baseParameters": {
								"infilepath": {
									"value": "@concat(variables('infilefolder'), '/', variables('infilename'))",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Ls_adb_01",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set infilename",
						"type": "SetVariable",
						"typeProperties": {
							"variableName": "infilename",
							"value": {
								"value": "@concat('MelbParkingData_', pipeline().RunId, utcnow('yyyy_MM_dd_hh_mm_ss'), '.json')",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"infilename": {
						"type": "String"
					},
					"infilefolder": {
						"type": "String",
						"defaultValue": "lnd"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_REST_MelbParkingData')]",
				"[concat(variables('factoryId'), '/datasets/Ds_Blob_MelbParkingData')]",
				"[concat(variables('factoryId'), '/linkedServices/Ls_adb_01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_Blob_MelbParkingData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your destination Azure Blob Store.",
				"linkedServiceName": {
					"referenceName": "Ls_Blob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"infilename": {
						"type": "String"
					},
					"infilefolder": {
						"type": "String"
					},
					"container": {
						"type": "String",
						"defaultValue": "datalake"
					}
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "arrayOfObjects"
					},
					"fileName": {
						"value": "@dataset().infilename",
						"type": "Expression"
					},
					"folderPath": {
						"value": "@concat(dataset().container, '/', dataset().infilefolder)",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_REST_MelbParkingData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_Rest_MelParkSensors",
					"type": "LinkedServiceReference"
				},
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "dtpv-d4pf.json",
					"requestMethod": "GET"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_KeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "https://ddokvdev4uuuxyu5.vault.azure.net/"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_adb_01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://australiaeast.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "Ls_KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "dbricksToken"
					},
					"existingClusterId": "0206-120735-lean805"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Ls_KeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/T_Sched_5min')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"runtimeState": "Started",
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 5,
						"startTime": "2019-02-01T05:28:00.000Z",
						"timeZone": "UTC"
					}
				}
			}
		}
	]
}