adf/pipeline/P_Ingest_MelbParkingData.json
{
	"name": "P_Ingest_MelbParkingData",
	"properties": {
		"activities": [
			{
				"name": "Transform and Load Melbourne Parking Data",
				"description": "",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "DownloadSensorData",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "DownloadBayData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"notebookPath": {
						"value": "@pipeline().parameters.transform_notebook_path",
						"type": "Expression"
					},
					"baseParameters": {
						"infilefolder": {
							"value": "@variables('infilefolder')",
							"type": "Expression"
						},
						"loadid": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					},
					"libraries": [
						{
							"egg": "@pipeline().parameters.transform_pythonegg_dbfspath"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "Ls_adb_01",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set infilefolder",
				"type": "SetVariable",
				"typeProperties": {
					"variableName": "infilefolder",
					"value": {
						"value": "@utcnow('yyyy_MM_dd_hh_mm_ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DownloadSensorData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set infilefolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Ds_REST_MelbParkingData",
						"type": "DatasetReference",
						"parameters": {
							"relativeurl": "dtpv-d4pf.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_AdlsGen2_MelbParkingData",
						"type": "DatasetReference",
						"parameters": {
							"infilefolder": {
								"value": "@variables('infilefolder')",
								"type": "Expression"
							},
							"infilename": "MelbParkingSensorData.json",
							"container": "datalake/data/lnd"
						}
					}
				]
			},
			{
				"name": "DownloadBayData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set infilefolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Ds_REST_MelbParkingData",
						"type": "DatasetReference",
						"parameters": {
							"relativeurl": "wuf8-susg.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_AdlsGen2_MelbParkingData",
						"type": "DatasetReference",
						"parameters": {
							"infilefolder": {
								"value": "@variables('infilefolder')",
								"type": "Expression"
							},
							"infilename": "MelbParkingBayData.json",
							"container": "datalake/data/lnd"
						}
					}
				]
			}
		],
		"parameters": {
			"transform_pythonegg_dbfspath": {
				"type": "string",
				"defaultValue": "dbfs:/mnt/datalake/libs/ddo_transform-1.0-py2.py3-none-any.whl"
			},
			"transform_notebook_path": {
				"type": "string",
				"defaultValue": "/notebooks/02_transform"
			}
		},
		"variables": {
			"infilefolder": {
				"type": "String",
				"defaultValue": "lnd"
			}
		}
	}
}