adf/pipeline/P_Ingest_MelbParkingData.json
{
	"name": "P_Ingest_MelbParkingData",
	"properties": {
		"activities": [
			{
				"name": "Download Melb Parking Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set infilename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010"
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"schemaMapping": {
							"[':@computed_region_evbi_jbp8']": "[':@computed_region_evbi_jbp8']",
							"bay_id": "bay_id",
							"lat": "lat",
							"location.type": "location.type",
							"lon": "lon",
							"st_marker_id": "st_marker_id",
							"status": "status"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_REST_MelbParkingData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_Blob_MelbParkingData",
						"type": "DatasetReference",
						"parameters": {
							"infilename": {
								"value": "@variables('infilename')",
								"type": "Expression"
							},
							"infilefolder": {
								"value": "@variables('infilefolder')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Transform and Load Melbourne Parking Data",
				"description": "",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Download Melb Parking Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"notebookPath": "/notebooks/01_transform",
					"baseParameters": {
						"infilepath": {
							"value": "@concat(variables('infilefolder'), '/', variables('infilename'))",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_adb_01",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set infilename",
				"type": "SetVariable",
				"typeProperties": {
					"variableName": "infilename",
					"value": "@concat('MelbParkingData_', pipeline().RunId, utcnow('yyyy_MM_dd_hh_mm_ss'), '.json')"
				}
			}
		],
		"variables": {
			"infilename": {
				"type": "String"
			},
			"infilefolder": {
				"type": "String",
				"defaultValue": "lnd"
			}
		}
	}
}