adf/pipeline/P_Ingest_MelbParkingData.json
{
	"name": "P_Ingest_MelbParkingData",
	"properties": {
		"activities": [
			{
				"name": "Download Sensor Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set infilename suffix",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set infilefolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010"
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"schemaMapping": {
							"[':@computed_region_evbi_jbp8']": "[':@computed_region_evbi_jbp8']",
							"bay_id": "bay_id",
							"lat": "lat",
							"location.type": "location.type",
							"lon": "lon",
							"st_marker_id": "st_marker_id",
							"status": "status"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_REST_MelbParkingData",
						"type": "DatasetReference",
						"parameters": {
							"relativeurl": "dtpv-d4pf.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_Blob_MelbParkingData",
						"type": "DatasetReference",
						"parameters": {
							"infilename": {
								"value": "@concat('MelbParkingSensorData', variables('infilename_suffix'))",
								"type": "Expression"
							},
							"infilefolder": {
								"value": "@variables('infilefolder')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Transform and Load Melbourne Parking Data",
				"description": "",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Download Sensor Data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Download Bay Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"notebookPath": "/notebooks/01_transform",
					"baseParameters": {
						"infilefolder": {
							"value": "@variables('infilefolder')",
							"type": "Expression"
						},
						"infilepath_suffix": {
							"value": "@variables('infilename_suffix')",
							"type": "Expression"
						},
						"loadid": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_adb_01",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set infilename suffix",
				"type": "SetVariable",
				"typeProperties": {
					"variableName": "infilename_suffix",
					"value": {
						"value": "@concat('_', pipeline().RunId, '_', utcnow('yyyy_MM_dd_hh_mm_ss'), '.json')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set infilefolder",
				"type": "SetVariable",
				"typeProperties": {
					"variableName": "infilefolder",
					"value": {
						"value": "@utcnow('yyyy_MM_dd_hh_mm_ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Download Bay Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set infilename suffix",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set infilefolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010"
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Ds_REST_MelbParkingData",
						"type": "DatasetReference",
						"parameters": {
							"relativeurl": "wuf8-susg.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_Blob_MelbParkingData",
						"type": "DatasetReference",
						"parameters": {
							"infilename": {
								"value": "@concat('MelbParkingBayData', variables('infilename_suffix'))",
								"type": "Expression"
							},
							"infilefolder": {
								"value": "@activity('Set infilefolder').output",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"infilename_suffix": {
				"type": "String"
			},
			"infilefolder": {
				"type": "String",
				"defaultValue": "lnd"
			}
		}
	}
}